body{
    background-color: rgb(50,50,68);
    
}

p{
    color:lawngreen;
    font-size: 3rem;
    font-weight: bold;
}
svg path{
    cursor: pointer;
}
svg path:hover{
    fill:hsla(0, 0%, 0%, 0.658);
}

#name{
    position: absolute;
}
#time{
    position: absolute;
    bottom:20px;
}