

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Manrope:wght@200..800&display=swap');


*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}


body{
   
    background-color: hsl(218, 23%, 16%);
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    color: hsl(150, 100%, 66%);
}

.container{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.main{
    background-color: hsl(217, 19%, 24%);
    width:550px;
    height:300px;
    border-radius: 5%;
    


}

.header{
    text-align: center;
    position: relative;
    top:30px;
   

}

.advice{
    position: relative;
    top:40%;
    text-align: center;
}


.divider{
    position:relative;
    top:60%;
    width:80%;
   left:10%
}

.dividerback{

   position:fixed;
   top:70%;
   left:48%;
   background-color:  hsl(150, 100%, 66%);
   width:50px;
   border-radius: 50%;
   padding:10px;
   display: flex;
}
.dice{
    margin: 0 auto;

}

.dividerback:hover{
    background-color: hsl(193, 38%, 86%);
}
